<ion-header>
  <ion-toolbar>
    <ion-title>Recipes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let recipe of recipes" (click)="getRecipe(recipe.id)">
      <ion-avatar slot="start">
        <ion-img [src]="recipe.imageUrl"></ion-img>
      </ion-avatar>
      <ion-label>
        <ion-grid>
          <ion-row>
            <ion-col size="9">
              {{ recipe.title }}
            </ion-col>
            <ion-col size="3" style="text-align: center">
              <ion-button color="danger" type="button" shape="round" (click)="deleteRecipe(recipe.id)">
                <ion-icon name="trash"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
